.name{
	text-align: center;
}

.mversion{
	position: absolute;
	left: 6px;
	top: 1px;
	font-weight: bold;
	font-family: arial;	
}

.roz{
	position: absolute;
	left: 6px;
	top: 20px;
	font-weight: bold;
	font-family: arial;	
	font-size: 12px;
}

.version{
	position: absolute;
	font-family: arial;
	left: 10px;
}

.menu{
	font-family: arial;
	list-style-type: none;
	color: black;
}

a{
	position: absolute;
	left:10px ;
	top: 120px;
	width: 100px;
	height: 20px;
	border: 1px solid black;
}

ul>li:hover a{
	font-weight: bold;
	font-family: arial;
	color: grey;
}