.name{
	text-align: center;
}
.mversion{
	position: absolute;
	left: 6px;
	top: 1px;
	font-weight: bold;
	font-family: arial;
}

.version{
	position: absolute;
	font-family: arial;
	left: 10px;
}

.menu{
	font-family: arial;
	list-style-type: none;
	color: black;
}

a{
	position: absolute;
	left:10px ;
	top: 120px;
	width: 100px;
	height: 20px;
	border: 1px solid black;
}

ul>li:hover a{
	font-weight: bold;
	font-family: arial;
	color: grey;
}

.yvaga2{
	position: absolute;
	color: red;
	font-family: arial;
	font-size: 14px;
	left: 1140px;
	top: 30px;
	border: 1px solid black;
}

.yvaga1{
	position: absolute;
	color: red;
	font-family: arial;
	font-size: 14px;
	left: 1200px;
	top: 10px;
	border: 1px solid black
}