body{

}

.name{
	background-color: white;
}

.cond{
	height: 400px;
	background: url("cond.jpg") no-repeat;
	background-size: cover;
	margin: 0px;
	padding-top: 160px;
	box-sizing: border-box;

}

.cond1{
	text-align: center;
	background-color: white;
	width: 300px;
	margin: auto;
	font-size: 48px;
	padding: 8px 24px;

}

.left{
	background-color: #BFBFBF;
	height: 1000px;
	width: 20%;
	text-align: center;
	font-size: 20px;
	margin: 0px;
	float: left;


}

.right{
	background-color: #FBF9C9;
	height: 1000px;
	width: 80%;
	margin: 0px;
	float: left;

}

.pht{
	height: 150px;
	width: 150px;
	text-align: center;
	margin: 65px;
	display: inline-block
}
.pht img{
	width: 100%;
}



.top{
	background-color: #882525;
	height: 50px;
	width: 100%;
	float: left;
}

.korobka{
	text-align: center;
}

.h4{
	margin: 50px;
}